{% extends 'layout.html' %} {% block content %}
<div class="content" style="margin-top: 30px">
  <div class="row justify-content-center">
    <div
      class="col-md-9 content-area"
      style="margin-top: 10px; margin-left: 30px"
    >
      <h2>News Center</h2>

      <a href="/member_view_news">
        <button
          type="button"
          class="btn btn-dark"
          style="float: left; margin-top: 20px; margin-bottom: 20px"
        >
          < Back
        </button>
      </a>

      <div style="display: flex; flex-direction: column; align-items: flex-start;margin-top: 130px; margin-left: 80px">
        <div style="margin:0 auto">
          <h1>{{newsDetail[1]}}</h1>
        </div>

        <div style="margin:0 auto;white-space: pre-line;" id="newsContent">
          <p>{{newsDetail[2]}}</p>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
