{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <h2>Manage Prices</h2>

  {% for message in get_flashed_messages() %}
  <div class="flash" style="color: red; font-size: 20px">{{ message }}</div>
  {% endfor %}
  <div
    style="
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      max-height: 80vb;
      margin-top: 50px;
    "
  >
    <form method="post" action="{{ url_for('update_prices') }}">
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Current Price</th>
            <th>New Price</th>
          </tr>
        </thead>
        <tbody>
          {% for session in sessions %}
          <tr>
            <td>Session</td>
            <td>{{ session[1] }}</td>
            <!-- Session_name -->
            <td>${{ session[3] }}</td>
            <!-- Fee -->
            <td>
              <input
                type="number"
                name="new_price_session_{{ session[0] }}"
                value="{{ session[3] }}"
                max="200"
                min="80"
              />
            </td>
          </tr>
          {% endfor %} {% for membership in memberships %}
          <tr>
            <td>Membership</td>
            <td>{{ membership[0] }}</td>
            <!-- Membership Type -->
            <td>${{ membership[1] }}</td>
            <!-- Current Fee -->
            <td>
              <input
                type="number"
                name="new_price_membership_{{ membership[0] }}"
                value="{{ membership[1] }}"
                max="3000"
                min="100"
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Update Prices</button>
    </form>
  </div>
</div>
{% endblock %}
