{% extends 'layout.html' %} {% block content %}

<div class="content" style="margin-top: 30px">
  <div class="row justify-content-center">
    <div
      class="col-md-9 content-area"
      style="margin-top: 10px; margin-left: 30px"
    >
      <h2>Report List</h2>

      <table
        class="table table-striped table-bordered table-hover"
        style="margin-top: 50px"
      >
        <tr>
          <th>Report Title</th>
          <th>Date</th>
          <th>Action</th>
        </tr>

        <tr>
          <td>Financial Report</td>
          <td>{{day}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              onclick="location.href='/manager/financial_report'"
            >
              Generate
            </button>
          </td>
        </tr>

        <tr>
          <td>Attendance Report</td>
          <td>{{day}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              onclick="location.href='/manager/overall_record'"
            >
              Generate
            </button>
          </td>
        </tr>

        <tr>
          <td>Popular Class Report</td>
          <td>{{day}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              onclick="location.href='/manager/popular_class'"
            >
              Generate
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
