{% extends 'layout.html' %}


{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if record.Report_id != "" %}
            <h2 class="mb-4">Update Report</h2>
            {% else %}
            <h2 class="mb-4">Insert Report</h2>
            {% endif %}
            {% for message in get_flashed_messages() %}
            <div class="flash" style="color:red;font-size:20px">{{ message }}</div>
            {% endfor %}
            <input type="hidden" id="Report_id" name="Report_id" value="{{record.Report_id}}">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Report_title" >Report Title:</label>
                        <input type="text" class="form-control"  value="{{record.Report_title}}" required id="Report_title"
                               name="Report_title"
                               placeholder="Enter Report Title">

                </div>
                <div class="form-group">
                    <label for="Report_content" >Report Content:</label>
                        <textarea class="form-control" id="Report_content" name="Report_content" rows="4">{{ record.Report_content }}</textarea>

                </div>

                <div class="form-group">
                    <label for="Date" >Date:</label>
                        <input type="date" class="form-control" value="{{record.Date}}" required
                               name="Date" id="Date">
                </div>



                <button type="submit" id="submitBtn" class="btn btn-dark">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}